body {
  overflow-x: hidden;
}

header img {
  width: 100px;
  height: 40px;
}

.headline-text {
  font-weight: bold;
  font-size: 100px;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

/* animation Headline */
.fade-in-headline {
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.desc {
  font-weight: 500;
  text-align: justify;
}

#carouselBlogControl .card {
  width: 650px;
  height: 650px;
}

.item button {
  transition: 0.5s ease;
}

.item button:hover i {
  color: white;
}

.item i {
  color: green;
  margin-left: 20px;
}

.arrow1 {
  animation: slide1 1s ease-in-out infinite;
  margin-left: 9px;
}

@keyframes slide1 {
  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(10px, 0);
  }
}

footer {
  background-color: #030120;
}

footer img {
  width: 150px;
  height: 50px;
}

footer i {
  color: white;
}

.address {
  text-align: justify;
}

.fa-youtube:hover {
  color: #ff0000;
}

.fa-instagram:hover {
  color: #c32aa3;
}

.fa-linkedin:hover {
  color: #0a66c2;
}

svg path {
  fill: #117132;
}

/* animation per section */
/* .tag {
  opacity: 0.5;
  transform: translate(0, 10vh);
  transition: all 1s;
}

.tag.visible {
  opacity: 1;
  transform: translate(0, 0);
} */
